In [1]:
%matplotlib inline
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import scipy
import scipy.signal
from scipy import stats
import pandas as pd

# problem 1.

In [2]:
truthtable = pd.DataFrame([[45,3],[5,47]],index = ['NN Bird','NN Person'], columns=['True Bird', 'True Person'])
truthtable

           True Bird  True Person
NN Bird           45            3
NN Person          5           47

In [3]:
truthtable = pd.DataFrame([[47,1],[11,42]],index = ['NA Bird','NA Person'], columns=['True Bird', 'True Person'])
truthtable

           True Bird  True Person
NA Bird           47            1
NA Person         11           42

a.

NN turns out have better result, it makes 8 mistakes combine, while NA makes 12 mistakes combined

b.

NA is better for the zoo. From the background we know that there are 48 birds and 52 people. For NN, it makes 3 mistakes on birds, and NA makes only one mistake on birds. So, it might means that NA does a better job to classify the animal, so it would work better for the zoo.

c.

assuming there will have 10000 pictures been taken, below are new NN and NA

In [4]:
p_of_BTB = 45/48
p_of_BTP = 3/48
p_of_PTB = 5/52
p_of_PTP = 47/52
BTB = round(p_of_BTB * 10000 * 0.99)
BTP = round(p_of_BTP * 10000 * 0.99)
PTB = round(p_of_PTB * 10000 * 0.01)
PTP = round(p_of_PTP * 10000 * 0.01)

truthtable = pd.DataFrame([[BTB,PTB],[BTP,PTP]],index = ['NN Bird','NN Person'], columns=['True Bird', 'True Person'])
truthtable

           True Bird  True Person
NN Bird         9281           10
NN Person        619           90

In [5]:
p_of_BTB = 47/48
p_of_BTP = 1/48
p_of_PTB = 11/52
p_of_PTP = 42/52
BTB = round(p_of_BTB * 10000 * 0.99)
BTP = round(p_of_BTP * 10000 * 0.99)
PTB = round(p_of_PTB * 10000 * 0.01)
PTP = round(p_of_PTP * 10000 * 0.01)

truthtable = pd.DataFrame([[BTB,PTB],[BTP,PTP]],index = ['NA Bird','NA Person'], columns=['True Bird', 'True Person'])
truthtable

           True Bird  True Person
NA Bird         9694           21
NA Person        206           81

As we can see, when the sample size gets larger, NN makes much more mistakes than NA dose especially for classifing birds, this bolsters that NA is better choice for the zoo.

# problem 2

a.

The probability distribution function (PDF) of a sum of two independent random variables is the convolution of individual exponential distribution PDFs.

b.

If X1 and X2 are independent standard normal random variables, then Y = X1/X2
has the standard Cauchy distribution.
Cauchy distributions look similar to a normal distribution. However, they have much heavier tails.

c.

 If we only measure probability of the magnitude of the vector input of the the 2D Gaussian distribution, it would be a Rayleigh distribution, and the pdf of the vector would be bivariate normal distribution.